@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Kumbh Sans", sans-serif;
    position: relative;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* --------------------------------------------------- */

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 28px 165px;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E9F2;
    margin-bottom: 90px;
}

.nav {
    display: flex;
    gap: 32px;
    margin-right: auto;
    margin-left: 55px;

    & a {
        text-transform: capitalize;
        font-family: Kumbh Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        color: #69707D;
    }

    & a:hover {
        color: #000;
    }
}

.user {
    display: flex;
    gap: 45px;
    align-items: center;
    position: relative;

    > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid transparent;
    }

    > img:hover {
        border: 2px solid #FF7E1B;
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
    }
}

.cart-item-count {
    position: absolute;
    padding: 3px 6px;
    background-color: #FF7E1B;
    top: -10px;
    right: -10px;
    border-radius: 16px;
    font-family: Kumbh Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0px;
    color: #fff;
}

.main {
    height: auto;
    padding: 0 48px;
    display: grid;
    grid-template-columns: 445px 445px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#bigImg {
    width: 445px;
    height: 445px;
    border-radius: 64px;
}

.littleImg {
    display: flex;
    gap: 31px;

    & img {
        width: 88px;
        height: 88px;
        border-radius: 8px;
    }
}

.menuIcon {
    background-color: transparent;
    border: none;
    display: none;
}

.products-details {
    & h5 {
        font-family: Kumbh Sans;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        color: #FF7E1B;
        text-transform: uppercase;
        margin-bottom: 27px;
    }

    & h1 {
        font-family: Kumbh Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0px;
        color: #1D2026;
        margin-bottom: 32px;
    }

    & p {
        color: #69707D;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        margin-bottom: 28px;
    }
}

.product-price {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 32px;

    & h2 {
        font-family: Kumbh Sans;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0px;
        color: #1D2026;
        position: relative;
    }

    & h4 {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0px;
        color: #B6BCC8;
        text-decoration: line-through;

    }
}

.product-buy {
    display: flex;
    gap: 16px;

    > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        background-color: #FF7E1B;
        width: 100%;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    & button:hover {
        background-color: rgba(255, 126, 27, 0.5);
    }
}

.products-piece {
    background-color: #F6F8FD;
    width: 157px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

    & p {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700 !important;
        line-height: 20px;
        letter-spacing: 0px;
        color: #1D2026;
        margin: 0;
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        & i {
            color: #FF7E1B;
            font-weight: 700;
        }
    }

    & button:hover{
        background-color: transparent;
        & i {
            color: rgba(255, 126, 27, 0.5);
        }
    }
}

.discount {
    position: absolute;
    background-color: #FFEEE2;
    color: #FF7E1B;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    padding: 8px;
    border-radius: 8px;
    top: 0;
    right: -66px;
}

.opacity {
    border: 1px solid #FF7E1B !important;
    opacity: 0.2 !important;
}

.focus-photo {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    inset: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;

}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliderBigImg {

    position: relative;
    margin-bottom: 40px;

    & img {
        width: 550px;
        height: 550px;
        border-radius: 8px;
    }

    & button {
        width: 56px;
        height: 56px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;


        & img {
            width: 56px;
            height: 56px;
            
        }
    }
}

#btnLeft {
    position: absolute;
    left: -25px;
    top: 250px;
}

#btnRight {
    position: absolute;
    right: -25px;
    top: 250px;
}

.slider-small-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    & img {
        width: 88px;
        height: 88px;
        border-radius: 16px;
    }
}

#closed {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-bottom: 10px;
    & i {
        font-size: 30px;
        color: #fff;
    }
}

.show {
    display: flex !important;
}

.showCart {
    display: flex !important;
}

.cart {
    display: none;
    border-radius: 16px;
    width: 360px;
    height: 256px;
    position: absolute;
    bottom: -270px;
    right: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.1);
    flex-direction: column;

    & header {
        border-bottom: 1px solid #E4E9F2;
        & h3 {
            font-family: Kumbh Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0px;
            padding: 24px;
        }
    }

    & main {
        height: auto;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        & p {
            font-family: Kumbh Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            color: #69707D;
        }
    }
}

.item {
    display: flex;
    gap: 16px;

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    & img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    
}

.item-details {
    & p {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 26px;
        letter-spacing: 0px;
        display: flex;
        gap: 10px;

        & span {
            font-family: Kumbh Sans;
            font-size: 16px;
            font-weight: 700 !important;
            line-height: 26px;
            letter-spacing: 0px;
            color: #000;
        }
    }
}

#checkout {
    background-color: #FF7E1B;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fff;
    padding: 22px;
    border-radius: 16px;
}

@media (width < 1440px) {

    .container {
        width: 100%;
        padding: 24px;
    }

    .main {
        justify-content: center;
        gap: 30px;
    }

    .show {
        display: none !important;
    }
}

@media (width < 930px) {

    .header {
        justify-content: space-between;
        margin-bottom: 40px;

        > a {
            margin-right: auto;
            margin-left: 16px;
        }
    }



    .menuIcon {
        display: block !important;
    }

    .showMenu {
        display: block !important;
    }

    .user {
        gap: 20px;
    }

    .menu {
        display: none;
        position: absolute;
        z-index: 3;
        background-color: #fff;
        inset: 0;
        padding: 30px;

        & button {
            background-color: transparent;
            border: none;
            font-size: 30px;
            margin-bottom: 60px;
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            & a {
                font-family: Kumbh Sans;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0px;
                text-transform: capitalize;
                color: #1D2026;
            }
        }
    }

    .images {
        gap: 20px;
    }

    .nav {
        display: none;
    }

    .main {
        grid-template-columns: 1fr;
        padding: 0;
    }

    #bigImg {
        width: 100% !important;
        height: auto;
        border-radius: 8px;
    }
    
    .littleImg {
        justify-content: center;
    }

    .products-details {
        & h5 {
            font-family: Kumbh Sans;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 1.8461538553237915px;
        }

        & h1 {
            font-family: Kumbh Sans;
            font-size: 28px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0px;
        }

        & p {
            font-family: Kumbh Sans;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0px;
        }
    }

    .product-price {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-buy {
        flex-direction: column;
        > button {
            padding: 24px;
        }
    }

    .products-piece {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    
}

@media (width < 500px) {

    .littleImg {
        gap: 0;
        justify-content: space-between;
        & img {
            width: 70px;
            height: 70px;
        }
    }

    .cart {
        width: 330px;
        height: 225px;
        right: -10px;
        bottom: -240px;

        & header {
            padding: 16px;

            & h3 {
                padding: 0;
            }
        }

        & main {
            padding: 16px;
            height: auto;
        }
    }

    .item {
        justify-content: space-between;
    }

    .item-details {
        & p {
            font-size: 14px !important;
        }
    }
    
    
}